@tailwind base;
@tailwind components;
@tailwind utilities;

/* font */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;600;700&display=swap');

@font-face {
  font-family: 'SofiaPro';
  font-weight: 700;
  src: url('./assets/fonts/sofiapro-bold.woff2');
}
@font-face {
  font-family: 'SofiaPro';
  font-weight: 400;
  src: url('./assets/fonts/sofiapro-regular.woff');
}

/* ProximaNova */
@font-face {
  font-family: 'ProximaNova';
  font-weight: 700;
  src: url('./assets/fonts/Proxima-Nova-Bold.woff2');
}
@font-face {
  font-family: 'ProximaNova';
  font-weight: 400;
  src: url('./assets/fonts/Proxima-Nova-Regular.woff2');
}
@font-face {
  font-family: 'ProximaNova';
  font-weight: 600;
  src: url('./assets/fonts/Proxima-Nova-Semibold.woff2');
}
